@use "../mixins" as *;
@use "../variables";
@use "../functions" as *;

footer {
  width: 100%;
  background: rgb(49, 82, 91);
  background: linear-gradient(
    239deg,
    rgba(49, 82, 91, 1) 0%,
    rgb(220, 192, 113) 46%,
    rgba(49, 82, 91, 1) 100%
  );
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .hire-me-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 6px;

      div {
        height: 2px;
        width: 50%;
        background-color: clr(primary, yellow);
      }

      span {
        color: clr(secondary, base);
        font-size: ft-sz(300);
        @include mq(phone) {
          font-size: ft-sz(200);
        }
      }
    }
    button {
      margin: 1rem;
      @include btn-thin(clr(secondary, blue), clr(secondary, base));
      height: 2rem;
      width: 6rem;
      border-radius: 4px;
      color: clr(secondary, base);
    
    }
  }

  .navigation-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq(phone) {
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }

    ul {
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      list-style-type: none;
      font-size: ft-sz(100);
      color: clr(secondary, yellow);

      li {
        cursor: pointer;
        font-weight: light;
        @include link-behavior(clr(secondary, blue) ,clr(primary, yellow) )
      }
    }
  }
}
