@use './functions' as *;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

#root{
  color : red
}
 
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-family: Poppins , 'san-serif';
  }

  *::-webkit-scrollbar{
    display: none;
  }

  html{
    scroll-behavior: smooth;
  }

  *{
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;

          
    -ms-overflow-style: none; 
  }


  main{
    background-image: -webkit-linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      white 50%,
      white 100%
    ),
    -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03)
          50%, white 50%, white 100%);
  background-size: 0.2em 0.2em;
  }

  section{
    margin-bottom: 4rem;

    h2{
      text-align: center;
      margin-bottom: 4rem;
      font-weight: 400;
      position: relative;
      
      &::after{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        height: 3px;
        width: 2rem;
        border-radius: 5px;
        background: -webkit-linear-gradient(
                        239deg,
                        rgba(49, 82, 91, 1) 0%,
                        rgba(223, 167, 15, 1) 46%,
                        rgba(49, 82, 91, 1) 100%
                      );
    }
    }
  }

  .about{
    margin-bottom: 2rem;

    h2{
      text-align: center;
      margin-bottom: 0rem;
    }
  }
  