@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
 
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    font-family: Poppins , 'san-serif';
  }

  *::-webkit-scrollbar{
    display: none;
  }

  *{
    margin: 0;
    overflow-y: scroll;
    scrollbar-width: none;

          
    -ms-overflow-style: none; 
  }

  main{
    background-image: -webkit-linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      white 50%,
      white 100%
    ),
    -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03)
          50%, white 50%, white 100%);
  background-size: 0.2em 0.2em;
  }
  