@use '../abstracts/mixins' as *;


.btn{
    @include center-content; 
    cursor: pointer;
    height: 40px;
    width: 100px;
    // @include btn-framed(green , white ,rgb(106, 204, 106) );
    // @include btn-thin(rgba(0, 128, 0, 0.589))
}