@use "../mixins" as *;
@use "../variables";
@use "../functions" as *;

nav {
  // @include mq(phone){
  //   height: 100vh;
  // }
  ul {
    padding: 0;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    font-size: ft-sz(300);
    color: clr(primary, blue);

    @include mq(tablet-small) {
      display: none;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      font-weight: light;
      @include link-behavior(clr(primary, blue), clr(primary, yellow));
      position: relative;

      .active {
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 3px;
          width: 12px;
          background: clr(secondary, yellow);
          border-radius: 2px;
        }
      }
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;
    color : clr(primary , blue);

    @include mq(tablet-small) {
      display: inline;
      margin: 1rem;
      font-size: ft-sz(700);
    }
  }

  .cancel-hamburger {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 20;
    color : clr(primary , blue)
  }

  .mobile-menu {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background: clr(secondary, yellow);
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
  }
}
