@use "../mixins" as *;
@use "../variables";
@use "../functions" as *;

.projects {
  color: clr(primary, blue);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  > div {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    cursor: pointer;
    background: white;
    border-radius: 0.5rem;

    
    @include mq(phone) {
        width: 90%;
      }

    .project-img{
        position: relative;
        border-radius: .5rem;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 50%, rgba(255,255,255,1) 100%);
        }

        img {
            width: 100%;
            object-fit: contain;
            transition: all 0.5s;
          }

       

     
    }



    hr{
        height: 1px;
        width: 85%;
        margin: .35rem 0;
        border: none;
        border-radius: 10px;
        background: -webkit-linear-gradient(
            0deg,
            rgba(255,255,255,1) 0%,
            rgba(49, 82, 91, 0.5) 25%,
            rgba(223, 168, 15, 0.5) 45%,
            rgba(49, 82, 91, 0.5) 75%,
            rgba(255,255,255,1) 100%,
          );
    }
    .description {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;
      font-size: ft-sz(100);
      

      button{
        display: none;
        background: white;
        color : clr(primary , yellow);
        @include border($color : clr(secondary , yellow), $style : solid, $width : 1px, $radius : 5px);
        padding: 0.5rem;
        cursor: pointer;

        @include mq(tablet){
            display: block;
        }
      }
    }

    @include mq(tablet , $max : false){
        &:hover{

            position: relative;
    
            .project-img{
                img {
                    transform: scale(1.2);
                }
            }
    
            .description {
                button{
                    display: block;
                    position: absolute;
                    padding: 0.35rem 1rem;
                    top : 40%;
                    left : 50%;
                    transform: translate(-50%);
                }
            }
           
    
        }
    }
  }
}
