@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
footer {
  width: 100%;
  background: rgb(49, 82, 91);
  background: linear-gradient(239deg, rgb(49, 82, 91) 0%, rgb(220, 192, 113) 46%, rgb(49, 82, 91) 100%);
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .hire-me-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .hire-me-section > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
footer .hire-me-section > div div {
  height: 2px;
  width: 50%;
  background-color: #ffa101;
}
footer .hire-me-section > div span {
  color: #f5f5f5;
  font-size: 1rem;
}
@media only screen and (max-width: 500px) {
  footer .hire-me-section > div span {
    font-size: 0.875rem;
  }
}
footer .hire-me-section button {
  margin: 1rem;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  background: inherit;
  color: #b3dee5;
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  color: #f5f5f5;
}
footer .hire-me-section button:hover {
  background: transparent;
  color: #f5f5f5;
}
footer .hire-me-section button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
footer .hire-me-section button:hover::after {
  opacity: 0;
  transform: scale(0.5, 0.5);
  background: transparent;
}
footer .hire-me-section button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #f5f5f5;
  transform: scaleX(1.5);
}
footer .hire-me-section button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
footer .navigation-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  footer .navigation-section {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
footer .navigation-section ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  font-size: 0.75rem;
  color: #fae6b1;
}
footer .navigation-section ul li {
  cursor: pointer;
  font-weight: light;
  color: #b3dee5;
}
footer .navigation-section ul li:hover, footer .navigation-section ul li:focus, footer .navigation-section ul li:active {
  color: #ffa101;
}

header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
  z-index: 30;
  margin-bottom: 0.25rem;
}
header .logo {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  color: #31525b;
}
header .logo .first-letter {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0 0.5rem;
  background: #ffa101;
  color: white;
  border-radius: 3px;
}
header button {
  margin: 1rem;
  padding: 0.3rem 1rem;
  background: #ffa101;
  color: #f5f5f5;
  border: solid #ffa101 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 760px) {
  header button {
    display: none;
  }
}
header button:hover {
  border: solid #ffa101 2px;
  color: #ffa101;
  background: transparent;
}

nav ul {
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  font-size: 1rem;
  color: #31525b;
}
@media only screen and (max-width: 760px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  cursor: pointer;
  font-weight: light;
  color: #31525b;
  position: relative;
}
nav ul li:hover, nav ul li:focus, nav ul li:active {
  color: #ffa101;
}
nav ul li .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 12px;
  background: #fae6b1;
  border-radius: 2px;
}
nav .hamburger {
  display: none;
  cursor: pointer;
  color: #31525b;
}
@media only screen and (max-width: 760px) {
  nav .hamburger {
    display: inline;
    margin: 1rem;
    font-size: 1.875rem;
  }
}
nav .cancel-hamburger {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 20;
  color: #31525b;
}
nav .mobile-menu {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: #fae6b1;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}

.home {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
}
@media only screen and (max-width: 1024px) {
  .home {
    gap: 6rem;
  }
}
@media only screen and (max-width: 900px) {
  .home {
    gap: 1rem;
  }
}
@media only screen and (max-width: 760px) {
  .home {
    flex-direction: column-reverse;
  }
}
.home::after {
  content: "";
  height: 350px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #b3dee5;
  opacity: 0.25;
  border-radius: 51% 49% 100% 0%/45% 69% 31% 55%;
}
@media only screen and (max-width: 900px) {
  .home::after {
    display: none;
  }
}
.home::before {
  content: "";
  height: 200px;
  width: 200px;
  position: absolute;
  top: 12%;
  left: 30%;
  background: #ffa101;
  opacity: 0.2;
  border-radius: 77% 23% 46% 54%/45% 53% 47% 55%;
}
@media only screen and (max-width: 900px) {
  .home::before {
    display: none;
  }
}
.home .catch-phrase {
  color: #333333;
  position: relative;
}
.home .catch-phrase span {
  color: #ffa101;
}
.home .catch-phrase .buttons {
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
}
.home .catch-phrase .buttons button {
  height: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 1rem;
  color: white;
}
.home .catch-phrase .buttons .hire-me {
  background: #31525b;
}
.home .catch-phrase .buttons .cv {
  background: transparent;
  color: #31525b;
  border-style: solid;
  border-width: 1px;
  border-color: #31525b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.home .profil {
  position: relative;
}
.home .profil::before {
  content: "";
  width: 95%;
  height: 400px;
  background: linear-gradient(239deg, rgb(49, 82, 91) 0%, rgb(220, 192, 113) 46%, rgb(49, 82, 91) 100%);
  border-style: solid;
  border-width: 0px;
  border-color: #ffa101;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  -webkit-border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}
.home .profil .freelancer,
.home .profil .developper {
  position: absolute;
  color: #31525b;
  background: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 0.75rem;
  padding: 5px;
  display: flex;
  align-items: center;
}
.home .profil .freelancer .check,
.home .profil .developper .check {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 100%;
  color: #f5f5f5;
}
.home .profil .freelancer p,
.home .profil .developper p {
  opacity: 0.55;
  font-size: 0.65rem;
}
.home .profil .freelancer {
  top: 40%;
}
.home .profil .freelancer .check {
  background: #ffa101;
}
.home .profil .developper {
  right: 0;
  bottom: 5%;
}
.home .profil .developper .check {
  background: #333333;
}

.about {
  color: #31525b;
  display: flex;
}
.about > div {
  width: 60%;
}
@media only screen and (max-width: 760px) {
  .about > div {
    width: 90%;
  }
}
@media only screen and (max-width: 760px) {
  .about {
    flex-direction: column-reverse;
    align-items: center;
    margin: 1.5rem 0;
  }
}
.about .image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.about .image::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 49%;
  height: 75%;
  width: 20rem;
  z-index: -10;
  background: #ffa101;
  transform: translateX(-50%);
  border-radius: 1rem;
}
.about .image img {
  height: 75%;
  background: #b3dee5;
  opacity: 0.5;
  border-radius: 1rem;
}
@media only screen and (max-width: 900px) {
  .about .image img {
    background: none;
    opacity: 1;
  }
}
.about .about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about-me h2 {
  width: 90%;
  position: relative;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 760px) {
  .about .about-me h2 {
    width: 100%;
  }
}
.about .about-me h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60px;
  border-radius: 5px;
  background: #ffa101;
}
@media only screen and (max-width: 760px) {
  .about .about-me h2::after {
    display: none;
  }
}
.about .about-me p {
  width: 70%;
}
@media only screen and (max-width: 900px) {
  .about .about-me p {
    width: 90%;
  }
}
.about .about-me button {
  margin: 1.25rem 0;
  height: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 1rem;
  color: white;
  background: #ffa101;
}
@media only screen and (max-width: 760px) {
  .about .about-me button {
    display: none;
  }
}
.about .media-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 1rem 0;
}
.about .media-socials h4 {
  font-weight: 200;
}
.about .media-socials ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.about .media-socials ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.services {
  height: auto;
  color: #31525b;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}
.services .frontend {
  position: relative;
}
.services .frontend::before {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1/1;
  top: 0;
  left: 0;
  border-left: solid 2px #31525b;
  border-top: solid 2px #ffa101;
  border-top-left-radius: 1rem;
}
.services .backend {
  position: relative;
}
.services .backend::before {
  content: "";
  position: absolute;
  width: 20%;
  aspect-ratio: 1/1;
  right: 0;
  bottom: 0;
  border-right: solid 2px #ffa101;
  border-bottom: solid 2px #31525b;
  border-bottom-right-radius: 1rem;
}
.services > div {
  width: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
}
@media only screen and (max-width: 500px) {
  .services > div {
    width: 90%;
  }
}
.services > div img {
  width: 120px;
}
.services > div h5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 1rem 0 0 0;
  background: -webkit-linear-gradient(239deg, rgb(49, 82, 91) 0%, rgb(223, 167, 15) 46%, rgb(49, 82, 91) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services > div .comments > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0;
}

.experiences {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #31525b;
}
.experiences > div {
  position: relative;
  width: 20rem;
  aspect-ratio: 1/1;
  overflow: visible;
}
@media only screen and (max-width: 500px) {
  .experiences > div {
    width: 80%;
  }
}
.experiences > div .hr-line {
  background: #fae6b1;
  height: 100%;
  width: 1px;
  position: absolute;
}
.experiences > div > span {
  border-style: solid;
  border-width: 1px;
  border-color: #fae6b1;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 0 1rem;
  position: absolute;
  top: 5%;
  left: -1.5rem;
  background: white;
  z-index: 40;
}
.experiences > div .comments {
  position: absolute;
  top: 20%;
  left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.8rem;
}
.experiences > div .comments h5 {
  font-weight: 500;
  font-size: 1.125rem;
  background: -webkit-linear-gradient(239deg, rgb(49, 82, 91) 0%, rgb(223, 167, 15) 46%, rgb(49, 82, 91) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 500px) {
  .experiences > div .comments {
    gap: 1.2rem;
  }
}
.experiences > div .pourcentage {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}
.experiences > div .pourcentage > div {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(113, 111, 111, 0.109);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 1rem;
}
.experiences > div .pourcentage > div div {
  height: 100%;
  width: 70%;
  background: #fae6b1;
  display: flex;
  align-items: center;
  justify-content: start;
}
.experiences > div .pourcentage > div div span {
  font-size: 0.6rem;
  margin: 7px;
}
.experiences > div .pourcentage > div .react {
  width: 80%;
}
.experiences > div .pourcentage > div .tailwind {
  width: 75%;
}
.experiences > div .pourcentage > div .redux {
  width: 70%;
}
.experiences > div .pourcentage > div .bootstrap {
  width: 68%;
}
.experiences > div .pourcentage > div .figma {
  width: 65%;
}
.experiences > div .pourcentage > div .adobe {
  width: 57%;
}
.experiences > div .pourcentage > div .canva {
  width: 60%;
}
.experiences > div .pourcentage > div .photoshop {
  width: 50%;
}
.experiences > div .pourcentage > div .express {
  width: 80%;
}
.experiences > div .pourcentage > div .mongo {
  width: 74%;
}
.experiences > div .pourcentage > div .node {
  width: 65%;
}
.experiences > div .pourcentage > div .typescript {
  width: 68%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Poppins, "san-serif";
}

*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

main {
  background-image: -webkit-linear-gradient(90deg, transparent 0%, transparent 50%, white 50%, white 100%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 50%, white 50%, white 100%);
  background-size: 0.2em 0.2em;
}

/*# sourceMappingURL=index.css.map */
