@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
footer {
  width: 100%;
  background: rgb(49, 82, 91);
  background: linear-gradient(239deg, rgb(49, 82, 91) 0%, rgb(220, 192, 113) 46%, rgb(49, 82, 91) 100%);
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .hire-me-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer .hire-me-section > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}
footer .hire-me-section > div div {
  height: 2px;
  width: 50%;
  background-color: #ffa101;
}
footer .hire-me-section > div span {
  color: #f5f5f5;
  font-size: 1rem;
}
@media only screen and (max-width: 500px) {
  footer .hire-me-section > div span {
    font-size: 0.875rem;
  }
}
footer .hire-me-section button {
  margin: 1rem;
  position: relative;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  background: inherit;
  color: #b3dee5;
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  color: #f5f5f5;
}
footer .hire-me-section button:hover {
  background: transparent;
  color: #f5f5f5;
}
footer .hire-me-section button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}
footer .hire-me-section button:hover::after {
  opacity: 0;
  transform: scale(0.5, 0.5);
  background: transparent;
}
footer .hire-me-section button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid #f5f5f5;
  transform: scaleX(1.5);
}
footer .hire-me-section button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
footer .navigation-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 500px) {
  footer .navigation-section {
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
}
footer .navigation-section ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  font-size: 0.75rem;
  color: #fae6b1;
}
footer .navigation-section ul li {
  cursor: pointer;
  font-weight: light;
  color: #b3dee5;
}
footer .navigation-section ul li:hover, footer .navigation-section ul li:focus, footer .navigation-section ul li:active {
  color: #ffa101;
}

header {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.03);
  z-index: 30;
}
header .logo {
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
  margin: 1rem;
  cursor: pointer;
  color: #31525b;
}
header .logo .first-letter {
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0 0.5rem;
  background: #ffa101;
  color: white;
  border-radius: 3px;
}
header button {
  margin: 1rem;
  padding: 0.3rem 1rem;
  background: #ffa101;
  color: #f5f5f5;
  border: solid #ffa101 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media only screen and (max-width: 760px) {
  header button {
    display: none;
  }
}
header button:hover {
  border: solid #ffa101 2px;
  color: #ffa101;
  background: transparent;
}

nav ul {
  padding: 0;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  font-size: 1rem;
  color: #31525b;
}
@media only screen and (max-width: 760px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  cursor: pointer;
  font-weight: light;
  color: #31525b;
  position: relative;
}
nav ul li:hover, nav ul li:focus, nav ul li:active {
  color: #ffa101;
}
nav ul li .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 12px;
  background: #fae6b1;
  border-radius: 2px;
}
nav .hamburger {
  display: none;
  cursor: pointer;
  color: #31525b;
}
@media only screen and (max-width: 760px) {
  nav .hamburger {
    display: inline;
    margin: 1rem;
    font-size: 1.875rem;
  }
}
nav .cancel-hamburger {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  z-index: 20;
  color: #31525b;
}
nav .mobile-menu {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background: #fae6b1;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
}

.home {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12rem;
  background-image: -webkit-linear-gradient(90deg, transparent 0%, transparent 50%, white 50%, white 100%), -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0.03) 50%, white 50%, white 100%);
  background-size: 0.2em 0.2em;
}
@media only screen and (max-width: 1024px) {
  .home {
    gap: 6rem;
  }
}
@media only screen and (max-width: 900px) {
  .home {
    gap: 1rem;
  }
}
@media only screen and (max-width: 760px) {
  .home {
    flex-direction: column-reverse;
  }
}
.home .catch-phrase {
  color: #333333;
}
.home .catch-phrase span {
  color: #ffa101;
}
.home .catch-phrase .buttons {
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
}
.home .catch-phrase .buttons button {
  height: 2rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0 1rem;
  color: white;
}
.home .catch-phrase .buttons .hire-me {
  background: #31525b;
}
.home .catch-phrase .buttons .cv {
  background: transparent;
  color: #31525b;
  border-style: solid;
  border-width: 1px;
  border-color: #31525b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}
.home .profil {
  position: relative;
}
.home .profil::before {
  content: "";
  width: 95%;
  height: 400px;
  background: linear-gradient(239deg, rgb(49, 82, 91) 0%, rgb(220, 192, 113) 46%, rgb(49, 82, 91) 100%);
  border-style: solid;
  border-width: 0px;
  border-color: #ffa101;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  -webkit-border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Poppins, "san-serif";
}

*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/*# sourceMappingURL=index.css.map */
